---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Programs from "../components/Programs.astro";
import Hosts from "../components/Hosts.astro";
import Donations from "../components/Donations.astro";
import Contact from "../components/Contact.astro";
import Sponsors from "../components/Sponsors.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Sponsors />
    <About />
    <Programs />
    <Hosts />
    <Donations />
    <Contact />
  </main>
  <Footer />
</Layout>
